body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/*body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

.ledger-table tr {
    border-bottom: 1px solid #EFEFEF;
}

.ledger-money-col{
    text-align:right;
}
.trans-date{
    font-size:.8em;
}
.type-money-in {
    font-weight: bold;
    color: rgba(0, 0, 0,.7)
}

.type-money-out {  
    font-weight: bold;
    color: rgba(255, 0, 0,.7)
}