@model IEnumerable<LedgerTransaction>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>
                Balance: @Model.First().TBalance.ToString("0,000")</h1>
</div>
</div>
<div class="row">
<div class="col-12">
   <table class="table-borderless table ledger-table" @*style="width:100%" *@>
            @*
    <thead>
        <tr>
            @*
            <th>Date</th>
            <th>Description</th>
            <th class="float-right">Amount</th>
            <th>Balance</th>
        </tr>
    </thead>*@
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <strong>@item.TDescription</strong>
                            <div class="trans-date">@Html.DisplayFor(modelItem => item.TDate)</div>
                        <td class="type-@item.TType ledger-money-col">@Html.DisplayFor(modelItem => item.TAmount)</td>

                    </tr>
                    }
                </tbody>
                </table>
</div>
    </div>
</div>
