@model IEnumerable<LedgerTransaction>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-2">@Html.DisplayFor(modelItem => item.TDate)</div>
                <div class="col-md-4">@item.TDescription</div>
                <div class="col-md-2 text-md-right float-md-right">@item.TAmount</div>
                <div class="col-md-4"></div>
            </div>
        }
    </div>