@model IEnumerable<LedgerTransaction>
    <div class="container">
        <table class="table-sm">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr style="border-bottom:1px solid black">
                    <td>@Html.DisplayFor(modelItem => item.TDate)</td>
                    <td>@item.TDescription</td>
                    <td class="text-md-right">@item.TAmount</td>
                    <td class="text-md-right">@item.TBalance</td>
                </tr>
                }
            </tbody>
        </table>       
    </div>